.satsangs
  background-image: url(../img/mountain.png)
  background-repeat: no-repeat
  background-size: 100%
  background-position: bottom
  background-color: #FFDFDF
  padding-top: 10rem
  padding-bottom: 6.5rem
  height: 74rem